<p><%= t 'notifier.email_confirm_html.greeting' %></p>

<p><%= t 'notifier.email_confirm_html.hopefully_you', :server_url => SERVER_URL, :new_address => @address %></p>

<p><%= t 'notifier.email_confirm.wait_for_confirm' %></p>
